html {
    background-image: url('fondoush.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

body {
    background-image: url('fondoush.jpg'); /* Asegúrate de que la ruta sea correcta */
}

#firstH, #primeroH {
    font-family: 'Arima', cursive;
    text-align: center;
    font-size: 3rem; /* Ajustado para ser más responsivo */
    margin-top: 50px;
    color: rgb(195, 3, 105);
    background: none; /* Elimina el fondo */
    display: flex;
    flex-direction: row; /* Cambia a 'row' si deseas que estén en fila */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.imagen-perfil {
    display: block;
    margin: 20px auto;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(195, 3, 105);
}

.primera {
    text-align: center;
    font-family: 'Arima', cursive;
    font-weight: 400;
    color: rgb(139, 4, 31);
    font-size: 200%;
}

.lead {
    text-align: center;
    font-family: 'Arima', cursive;
    font-weight: 400;
    color: rgb(139, 4, 31);
    font-size: 27px !important; /* tamaño de la fuente */
}

.segunda {
    text-align: center;
    font-family: 'Arima', cursive;
    color: rgb(195, 3, 105);
    font-size: 27px; /* tamaño de la fuente */
    margin: 20px 0; /* Aplica un margen vertical (arriba y abajo) */
    font-weight: bold;
}

/* Estilo para las tarjetas */
.card {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; /* Centra el texto dentro de la tarjeta */
    height: 350px; /* Altura fija */
    overflow: hidden; /* Evita desbordamiento */
    background-image: url('fondoush.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Asegúrate de que el fondo cubra la tarjeta */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    flex: 0 1 300px; /* Ancho flexible, mínimo 300px */
    margin: 10px; /* Espaciado entre tarjetas */
}

.card-title {
    color: rgb(195, 3, 105);
    font-size: 2.0rem; /* Ajusta el tamaño del título */
    font-family: 'Arima', cursive; /* Aplica la fuente Arima al título */
}

.card-subtitle {
    font-style: rgb(201, 19, 116);
    font-size: 1.7rem; /* Ajusta el tamaño del subtítulo */
}

.card-body {
    font-size: 1.3rem; /* Ajusta el tamaño del texto del cuerpo */
    color: black; /* Asegúrate de que el color del texto del cuerpo sea visible */
    text-align: center; /* Centra el texto dentro del cuerpo de la tarjeta */
}

.container {
    background-image: url('fondoush.jpg'); /* Asegúrate de que la ruta sea correcta */
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
}  
